<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" 
	version="2.5">
  <display-name>TiendaQantica</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsf</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
         <!--  com.ethereal.fedecafe.conf.InitVariables -->
         com.sun.faces.config.ConfigureListener
      </listener-class>
  </listener>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>smoothness</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletNoticias</display-name>
    <servlet-name>ServletNoticias</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNoticias</servlet-name>
    <url-pattern>/ServletNoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContenido</display-name>
    <servlet-name>ServletContenido</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletContenido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContenido</servlet-name>
    <url-pattern>/ServletContenido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDescarga</display-name>
    <servlet-name>ServletDescarga</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletDescarga</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDescarga</servlet-name>
    <url-pattern>/ServletDescarga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCategoria</display-name>
    <servlet-name>ServletCategoria</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCategoria</servlet-name>
    <url-pattern>/ServletCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSubCategoria</display-name>
    <servlet-name>ServletSubCategoria</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletSubCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSubCategoria</servlet-name>
    <url-pattern>/ServletSubCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDestacados</display-name>
    <servlet-name>ServletDestacados</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletDestacados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDestacados</servlet-name>
    <url-pattern>/ServletDestacados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAcceso</display-name>
    <servlet-name>ServletAcceso</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletAcceso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAcceso</servlet-name>
    <url-pattern>/ServletAcceso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletComentario</display-name>
    <servlet-name>ServletComentario</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletComentario</servlet-name>
    <url-pattern>/ServletComentario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizar</display-name>
    <servlet-name>ServletActualizar</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletActualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizar</servlet-name>
    <url-pattern>/ServletActualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizarCategoria</display-name>
    <servlet-name>ServletActualizarCategoria</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletActualizarCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarCategoria</servlet-name>
    <url-pattern>/ServletActualizarCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListaComentario</display-name>
    <servlet-name>ServletListaComentario</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletListaComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaComentario</servlet-name>
    <url-pattern>/ServletListaComentario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletScreenCapture</display-name>
    <servlet-name>ServletScreenCapture</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletScreenCapture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletScreenCapture</servlet-name>
    <url-pattern>/ServletScreenCapture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIconCategoria</display-name>
    <servlet-name>ServletIconCategoria</servlet-name>
    <servlet-class>com.qantica.fedemarket.servlet.ServletIconCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIconCategoria</servlet-name>
    <url-pattern>/ServletIconCategoria</url-pattern>
  </servlet-mapping>
  
  
  
 <!-- <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
	<filter-class>com.qantica.tiendaqantica.filter.FileUploadFilter</filter-class>
     <init-param>
      <param-name>thresholdSize</param-name>
      <param-value>51200</param-value>
    </init-param>  
     <init-param>
      <param-name>uploadDirectory</param-name>
      <param-value>/</param-value>
    </init-param>
  </filter>  
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  
   -->  
  
    
  
  
  <filter>
    <display-name>EncodingUTF</display-name>
    <filter-name>EncodingUTF</filter-name>
    <filter-class></filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingUTF</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>